.App{
  width: 40%;
  margin: 30px auto;
  min-height: 90vh;
  background-color:#D9534F;
  border-radius: 10px;
  padding: 10px 20px;
 
}
.App h1{
  text-align: center;
  color: #96CEB4;
}
.addTask{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;

}
.addTask input{
  outline: none;
  margin-right: 20px; 
  font-size: 18px;
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 3px solid black;
  width: 70%;
  padding: 10px 10px 10px 5px;
}
::placeholder{
  color: black;
}
button{
  width: 30%;
  background-color:#96CEB4;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
button:hover{
  background-color: yellowgreen;
}